<%-include('navbar')%>

<style>
    .order-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; /* Makes sure the content is vertically centered in full viewport height */
}

.order-summary-container ul {
    list-style: none;
    padding: 0;
}

.order-summary-container a {
    margin-top: 20px;
    text-decoration: none;
    color: blue;
}

</style>


<div class="order-summary-container">
<h4>Order Summary:</h4>
<p>Order ID: <%= order._id %></p>
<p>Total Amount: Rs<%= order.totalAmount %>
                </p>

                <h5>Items Ordered:</h5>
                <ul>
                    <% order.items.forEach(item=> { %>
                        <li>
                            <%= item.productName %> - <%= item.quantity %>  Rs<%= item.productPrice %>
                        </li>
                        <% }) %>
                </ul>

                <h5>Delivery Address:</h5>
                <p><strong>
                        <%= order.address.fullName %>
                    </strong></p>
                <p>
                    <%= order.address.addressLine1 %>, <%= order.address.addressLine2 %>
                </p>
                <p>
                    <%= order.address.city %>, <%= order.address.state %>, <%= order.address.country %>
                </p>
                <p>PINCODE: <%= order.address.pincode %>
                </p>
                <p>Phone Number: <%= order.address.phoneNumber %>
                </p>

                <a href="/admin/Orders">Back to Orders</a>
            </div>

        </div>