<%-include('./layout/header')%>
<%- include('./layout/navbar')%>
<%-include('./layout/category_navbar') %>

<body>
    <div class="ProductContainer">
        <div class="container">
            <div class="product-row">

                <% product.forEach((prod)=> {%>
                    <div class="product-item">
                        <!-- Discount Badge -->
                        <% if (!prod.stock) { %>
                            <div class="stock-badge">
                                Out Of Stock
                            </div>
                            <% } %>

                                <% if (prod.productDiscount) { %>
                                    <div class="discount-badge">
                                        <%= prod.productDiscount %>% OFF
                                    </div>
                                    <% } %>


                                        <!-- Clickable Image -->
                                        <a href="/productDetails/<%= prod._id %>">
                                            <img src="/<%= prod.productImage[0] %>" class="img-fluid product-thumbnail"
                                                alt="<%= prod.productName %>">
                                        </a>
                                        <h3 class="product-title">
                                            <%= prod.productName %>
                                        </h3>
                                        <span></span><strong class="product-price"><i class="fas fa-rupee-sign"></i>
                                            <%= prod.productPrice %>
                                        </strong>


                                        <h4><a href="#"><i class='fas fa-heart' style="color:red"></i></a>
                                            <a href="/cart/add/<%= prod._id%>"><i class="fas fa-shopping-cart" style="color:black"></i></a>
                                        </h4>
                    </div>
                <% })%>

<%-include('footer') %>