<%- include('./layout/header') %>
    <%- include('./layout/navbar') %>
        <%- include('./layout/category_navbar') %>
<style>
    .breadcrumbs {
        font-size: 16px;
        margin-bottom: 20px;
        color: #555;
    }

    .breadcrumb-item a {
        color: #007bff;
        text-decoration: none;
    }
</style>

<div class="breadcrumbs mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/checkOut" style="text-decoration:none">CheckOut</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Edit Your address</li>
            </ol>
        </div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6"> <!-- Adjust the width here -->
            <form  method='POST' id="editAddressForm"
                onsubmit="return editAddress(event)">
                <!-- First Four Fields Centered -->
                <div class="form-group text-center">
                    <label for="fullName">Full Name:</label>
                    <input type="text" class="form-control mx-auto " id="fullName" name="fullName"
                        value="<%=address.fullName%>">
                </div>
                <div class="form-group text-center">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" class="form-control mx-auto" id="phoneNumber" name="phoneNumber"
                        value="<%= address.phoneNumber  %>">
                </div>
                <div class="form-group text-center">
                    <label for="email">Email ID:</label>
                    <input type="email" class="form-control mx-auto" id="email" name="email"
                        value="<%= address.email  %>">
                </div>
                <div class="form-group text-center">
                    <label for="addressLine1">Address Line 1:</label>
                    <input type="text" class="form-control mx-auto" id="addressLine1" name="addressLine1"
                        value="<%=address.addressLine1  %>">
                </div>

                <!-- Last Two Rows Centered Below -->
                <div class="form-group text-center">
                    <label for="addressLine2">Address Line 2:</label>
                    <input type="text" class="form-control mx-auto" id="addressLine2" name="addressLine2"
                        value="<%=address.addressLine2  %>">
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="city">City:</label>
                        <input type="text" class="form-control text-center" id="city" name="city"
                            value="<%=address.city  %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="pincode">PINCODE:</label>
                        <input type="text" class="form-control text-center" id="pincode" name="pincode"
                            value="<%=address.pincode  %>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="state">State:</label>
                        <select class="form-control" id="state" name="state">
                            <option value="" disabled>Select your state</option>
                            <% const states=["Kerala", "Tamil Nadu" , "Karnataka" ]; %>
                                <% states.forEach(state=> { %>
                                    <option value="<%= state %>" <%=address.state===state ? 'selected' : ''
                                        %> >
                                        <%= state %>
                                    </option>
                                    <% }) %>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="country">Country:</label>
                        <select class="form-control" id="country" name="country">
                            <option value="" disabled>Select your country</option>
                            <% const country=["India" ]; %>
                                <% country.forEach(country => { %>
                                    <option value="<%= country %>" <%=address.country === country ? 'selected' : ''
                                        %> >
                                        <%= country %>
                                    </option>
                                    <% }) %>

                        </select>
                    </div>
                </div>
                <input type="hidden" id="addressId" value="<%= address._id %>">

                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary" onclick="editAddressCheckout(event)">Save Address</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function editAddressCheckout(event) {
                    event.preventDefault()

                    const fullName = document.getElementById('fullName').value
                    const phoneNumber = document.getElementById('phoneNumber').value
                    const email = document.getElementById('email').value
                    const addressLine1 = document.getElementById('addressLine1').value
                    const addressLine2 = document.getElementById('addressLine2').value
                    const city = document.getElementById('city').value
                    const pincode = document.getElementById('pincode').value
                    const state = document.getElementById('state').value
                    const country = document.getElementById('country').value
                    const addressId = document.getElementById("addressId").value;



                    let validate = true
                    let errorMessage = ""

                    if (!fullName || !/^[A-Za-z\s]+$/.test(fullName)) {
                        errorMessage += "Full Name is required and should conatin only letters.\n";
                        validate = false;
                    }
                    if (!phoneNumber || !/^\d{10}$/.test(phoneNumber)) {
                        errorMessage += "Phone number is required and should be 10 digits.\n";
                        validate = false;
                    }
                    if (!email || !/\S+@\S+\.\S+/.test(email)) {
                        errorMessage += "Please provide a valid email address.\n";
                        validate = false;
                    }
                    if (!addressLine1) {
                        errorMessage += "Address Line 1 is required.\n";
                        validate = false;
                    }
                    if (!city) {
                        errorMessage += "City is required.\n";
                        validate = false;
                    }
                    if (!pincode || !/^\d{6}$/.test(pincode)) {
                        errorMessage += "PINCODE is required and should be 6 digits.\n";
                        validate = false;
                    }
                    if (!state) {
                        errorMessage += "Please select a state.\n";
                        validate = false;
                    }
                    if (!country) {
                        errorMessage += "Please select a country.\n";
                        validate = false;
                    }

                    if (!validate) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Validation Error!',
                            text: errorMessage,
                            confirmButtonText: 'Try Again'
                        });
                        return;
                    }

                    const data = {
                        fullName,
                        phoneNumber,
                        email,
                        addressLine1,
                        addressLine2,
                        city,
                        pincode,
                        state,
                        country
                    };

                    const URL = `/editAddressCheckout/${addressId}`;
                    fetch(URL, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(data)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire({
                                    title: 'Success!',
                                    text: data.message,
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                }).then(() => {
                                    window.location.href= '/checkout'; 
                                });
                            }
                            else {
                                Swal.fire({
                                    title: 'Error!',
                                    text: data.message,
                                    icon: 'error',
                                    confirmButtonText: 'OK',

                                });
                            }
                        })
                        .catch(error => {
                            console.error('Error editing address:', error);
                        });
                }
</script>