<%- include('./layout/header') %>
    <%- include('./layout/navbar') %>
        <%- include('./layout/category_navbar') %>

            <div>
                <h4>Order Confirmation</h4>
                <p>Thank you for your order! Your order has been successfully placed.</p>

                <h4>Order Summary:</h4>
                <p>Order ID: <%= order._id %>
                </p>
                <p>Total Amount: $<%= order.totalAmount %>
                </p>

                <h5>Items Ordered:</h5>
                <ul>
                    <% order.items.forEach(item=> { %>
                        <li>
                            <%= item.name %> - <%= item.quantity %> x Rs<%= item.price %>
                        </li>
                        <% }) %>
                </ul>

                <h5>Delivery Address:</h5>
                <p><strong>
                        <%= order.address.fullName %>
                    </strong></p>
                <p>
                    <%= order.address.addressLine1 %>, <%= order.address.addressLine2 %>
                </p>
                <p>
                    <%= order.address.city %>, <%= order.address.state %>, <%= order.address.country %>
                </p>
                <p>PINCODE: <%= order.address.pincode %>
                </p>
                <p>Phone Number: <%= order.address.phoneNumber %>
                </p>

                <a href="/all-products" class="btn btn-primary">Continue Shopping</a>
            </div>