<%-include('./layout/header')%>
    <%- include('./layout/navbar')%>
        <%-include('./layout/category_navbar') %>
<style>
    .rec-prodName  {
   
    overflow: hidden;         
    text-overflow: ellipsis;    
   
    display: block;             
   
    margin: 0;              
}
</style>

            <body>
                <div class="container product-details">
                    <!-- Main Product Image and Thumbnails -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="Main-Image-Box">
                                <img src="/<%= product.productImage[0]%>" alt="<%= product.productName %>"
                                    class="main-image" id="mainImage" style="align-items: center;">
                            </div>

                            <div class="thumbnail-images d-flex gap-2 mt-4">
                                <% product.productImage.forEach((image)=> { %>
                                    <img src=" ../../<%=image %>" alt="Thumbnail"
                                        onclick="changeImage('<%= image.replace(/\\/g, `\\\\` ) %>')">
                                    <% }) %>
                            </div>


                        </div>
                        <div class="col-lg-4 product-info">
                            <h1>
                                <%= product.productName %>
                            </h1>
                            <p>
                                <%= product.productDescription %>
                            </p>
                            <p><strong>Price : </strong> <i class="fas fa-rupee-sign"></i>
                                <%= product.productPrice %>
                            </p>
                            <% if (product.productDiscount) { %>
                                <p><strong>Discount : </strong>
                                    <%= product.productDiscount %>% OFF
                                </p>
                                <p><strong>Offer Price : </strong> 
                                <%= product.productPrice - (product.productDiscount/100) * product.productPrice  %>
                                </p>

                                <% } %>
                                    <% if (product.stock) { %>
                                        <p style="color: red;">
                                            <strong>Only <%= product.stock %> left</strong>
                                        </p>
                                        <% } %>
                                            <div class="static-rating">
                                                <span class="star filled">&#9733;</span>
                                                <span class="star filled">&#9733;</span>
                                                <span class="star filled">&#9733;</span>
                                                <span class="star filled">&#9733;</span>
                                                <span class="star">&#9733;</span>
                                            </div>
                                            <br>
                                            <div class="Cart_WishlistButton">
                                                <% if(product.stock>= 1) { %>
                                                    <button class="btn" onclick="addToCart('<%= product._id %>')">Add to
                                                        Cart</button>
                                                    <button class="btn"
                                                        onclick="addToWishlist('<%= product._id %>')">Add to
                                                        Wishlist</button>
                                                    <% } else { %>
                                                        <h2>Product Out Of Stock</h2>
                                                        <% } %>
                                            </div>
                        </div>
                    </div>
                    <!-- Recommendations -->
                    <div class="recommendations">
                        <h2>Related Products</h2>
                        <div class="row">
                            <% recommendations.forEach((rec)=> { %>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <a href="/productDetails/<%= rec._id %>">
                                            <img src="/<%= rec.productImage[0] %>" alt="<%= rec.productName %>">
                                            <h4>
                                                <%= rec.name %>
                                            </h4>

                                        </a>
                                        <p class="rec-prodName"><strong>
                                                <%= rec.productName %>
                                            </strong></p>
                                        <p><strong>Price:</strong> <i class="fas fa-rupee-sign"></i>
                                            <%= rec.productPrice %>
                                        </p>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
                <%-include('footer') %>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        function changeImage(imageSrc) {
                            console.log("Changing image to:", imageSrc);
                            var mainImage = document.getElementById('mainImage');
                            if (mainImage) {
                                mainImage.src = '/' + imageSrc;
                            } else {
                                console.error('Main image not found!');
                            }
                        }

                        window.changeImage = changeImage;


                        const imageContainer = document.querySelector('.Main-Image-Box'); 
                        const productImg = imageContainer.querySelector('.main-image'); 

                        imageContainer.addEventListener("mousemove", (e) => {
                            const rect = imageContainer.getBoundingClientRect(); 
                            const x = (e.clientX - rect.left) / rect.width; 
                            const y = (e.clientY - rect.top) / rect.height; 

                            productImg.style.transformOrigin = `${x * 100}% ${y * 100}%`; 
                            productImg.style.transform = "scale(1.5)"; 
                        });

                        imageContainer.addEventListener("mouseleave", () => {
                            productImg.style.transformOrigin = "center"; 
                            productImg.style.transform = "scale(1)";
                        });
                    });


                    // Function to add product to the cart
                    function addToCart(productId) {
                        const URL = `/cart/add/${productId}`;

                        fetch(URL, {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' }
                        })
                            .then(response => response.json().then(data => ({ data, status: response.status })))
                            .then(({ data, status }) => {
                                if (status === 200) {
                                    Swal.fire({
                                        title: 'Success',
                                        icon: 'success',
                                        text: data.message,  
                                        confirmButtonText: 'OK'
                                    }).then(() => {
                                        window.location.href = `/productDetails/${productId}`;
                                        
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Error',
                                        icon: 'error',
                                        text: data.message || 'Failed to add product to cart.',
                                        confirmButtonText: 'OK'
                                    });
                                }
                            })
                            .catch((error) => {
                                console.error('Error adding product to cart:', error);
                            });
                    }


                    //fucntion add to Wishlist
                    function addToWishlist(productId) {
                        const URL = `/wishlist/add/${productId}`;

                        fetch(URL, {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' }
                        })
                            .then(response => response.json().then(data => ({ data, status: response.status })))
                            .then(({ data, status }) => {
                                if (status === 200) {
                                    Swal.fire({
                                        title: 'Success',
                                        icon: 'success',
                                        text: data.message,  
                                        confirmButtonText: 'OK'
                                    }).then(() => {
                                        window.location.href = `/productDetails/${productId}`;
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Error',
                                        icon: 'error',
                                        text: data.message || 'Failed to add product to wishlist.',
                                        confirmButtonText: 'OK'
                                    });
                                }
                            })
                            .catch((error) => {
                                console.error('Error adding product to wishlist:', error);
                            });
                    }
                </script>
            </body>