<%-include('./layout/header')%>
<%-include('./layout/navbar')%>
<%-include('./layout/category_navbar') %>

<h4>Your Account</h4>
<div class="userProfileConatiner">
    
    <!-- Sidebar -->
    <div class="userProfile">
        <form action="/orderHistory" method="GET"><button>Your Orders
            <p>Track, Return, Cancel and Buy Again</p>
        </button></form>
        <form action="/editPrfile" method="GET"><button>Login and Security
            <p>Edit Login, name, mobile number, and Password </p>
        </button></form>
        <form action="/address" method="GET"><button>Your Address
            <p>Edit Address and Add multiple Addresses.</p>
        </button></form>
        <form action="/Wallet" method="GET"><button>Wallet
            <p>Add money to your balance.</p>
        </button></form>
    </div>

    <!-- Form Section -->
    <div class="form-container">
        <h2>User Information</h2>
        <form>
            <div class="form-group full">
                <label for="fullName">Full Name:</label>
                <input type="text" id="fullName" name="fullName" value="<%= address ? address.fullName : '' %>">
            </div>
            <div class="form-group half">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" value="<%= address? address.phoneNumber : ''%>">
            </div>
            <div class="form-group half">
                <label for="email">Email ID:</label>
                <input type="email" id="email" name="email" value="<%= address? address.email : '' %> ">
            </div>
            <div class="clearfix"></div>
            <div class="form-group full">
                <label for="address1">Address Line 1:</label>
                <input type="text" id="addressLine1" name="addressLine1" value= "<%= address ? address.addressLine1 : '' %>">

            </div>
            <div class="form-group full">
                <label for="address2">Address Line 2:</label>
                <input type="text" id="addressLine2" name="addressLine2" value= "<%= address ? address.addressLine2 : ''%>">
            </div>
            <div class="form-group half">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" value= "<%= address ? address.city : '' %>">
            </div>
            <div class="form-group half">
                <label for="pincode">PINCODE:</label>
                <input type="text" id="pincode" name="pincode" value = "<%= address ? address.pincode : ''%>">
            </div>
            <div class="form-group half">
                <label for="state">State:</label>
                <input type="text" id="state" name="state" value="<%= address ? address.state : ''%>">
            </input>
            </div>
            
            <div class="form-group half">
                <label for="country">Country:</label>
                <input type = "text" id="country" name="country" value="<%= address ? address.country : ''%>">
                </input>
            </div>
        </form>
    </div>
</div>